click_log
click_completion
docutils~=0.15
sphinx>=2,<4
myst-nb~=0.10.1
jsonschema
sphinx_togglebutton
sphinx-copybutton
sphinx-comments
sphinxcontrib-bibtex~=1.0.0
sphinx_book_theme>=0.0.39
sphinx-thebe>=0.0.6
sphinx-panels~=0.5.2
alabaster~=0.7.12
jupyter_client~=6.1
jupyter_core~=4.7
nested-lookup~=0.2.21
mdit-py-plugins==0.2.4
markupsafe==1.1.1
jupyterlab==3.0.3
Babel~=2.9
jupyterlab-widgets==1.0
jedi==0.18
jupyterlab_server==2.1.1
jupyter-sphinx~=0.3
jupyter-book
markdown-it-py>0.6
ipython~=7.18
attrs~=20.0
ipywidgets==7.6.3
ipykernel~=5.4.2
jinja2~=2.11


